/* src/styles/styles.css */

@import "tailwindcss";


@source "../../index.html";
@source "../**/*.tsx";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

:root {
   /* This creates a fluid base size: 
     - Minimum 16px
     - Grows as 1.5% of the viewport width (1.5vw)
     - Maximum 22px */
  
  font-size: clamp(16px, 2vw, 25px);
}

